html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, thead, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video #customize-Simple, input, select, textarea, button, label #customize-Simple{
	
		 font-family: Tahoma, Geneva, sans-serif !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, thead, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video #customize-expertise, input, select, textarea, button, label #customize-expertise{
	
		font-family:lobster_tworegular !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, caption, thead, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video #customize-executive, input, select, textarea, button, label #customize-executive{
	
		 font-family: Tahoma, Geneva, sans-serif !important;
}


body, p, h1, h2, ul {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
@font-face {
    font-family: 'lobster_tworegular' !important;
    src: url('lobstertwo-regular.eot');
    src: url('lobstertwo-regular.eot?#iefix') format('embedded-opentype'),
         url('lobstertwo-regular.woff') format('woff'),
         url('lobstertwo-regular.ttf') format('truetype'),
         url('lobstertwo-regular.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'timeburnerregular' !important;
    src: url('timeburner_regular.eot');
    src: url('timeburner_regular.eot?#iefix') format('embedded-opentype'),
         url('timeburner_regular.woff') format('woff'),
         url('timeburner_regular.ttf') format('truetype'),
         url('timeburner_regular.svg#timeburnerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*float: left;*/
}
.templates {
	float: left;
	width: 11%;
	padding-right: 26px;
	padding-left: 26px;
}
.templates ul {
	margin: 0;
	padding: 0;
}
.templates ul li {
	list-style-type: none;
	margin-bottom: 20px;
	box-sha
}
.templates ul li a {
	border: 1px solid #eaeaea;
	background:#fff;
	display: block;
	
}
.templates ul li a:hover, .templates ul li a:active {
	border: 1px solid #329bce;
	display: block;
}
.templates ul li a.active {
	border: 1px solid #329bce;
	display: block;
}
.templates ul li a img {
	margin-bottom: 10px;
	text-align: center;
	display: block;
	padding-top: 20px;
	margin-left: auto; 
	margin-right: auto;
}
.templates ul li a span {
	color: #329bce;
	text-align: center;
	display: block;
	padding-bottom: 20px;
}
.pdfbtn {
	margin-bottom: 15px;
	float: right;
}
input[type="button"].download {
	color: #E8F0DE;
	border: solid 1px #538312;
	background: #64991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	/*margin: 15px 2px;*/
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	padding: 0em 0.8em !important;
	
	float: right;
}



.stdform input[type="button"].download:hover, input[type="button"].download:hover{
	color: #E8F0DE;
	background: #64991E !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E)) !important;
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e') !important;
	
}
/*tnemeing*/
#customize-template, #customize-corporate, #customize-classic {
	display: none;
	float: left;
	width: 65%
}
.buttonPan {
	  float: left;
  width: 100%;
  margin-bottom: 30px;
}
#customize-corporate, #customize-classic {
	display: none;
}
#customize-Simple {
	font-size: 12px;
	width: 74%;
	margin: 0 auto;
	-moz-box-shadow: #dddddd 1px 1px 10px 6px;
	-webkit-box-shadow: #dddddd 1px 1px 10px 6px;
	-o-box-shadow: #dddddd 1px 1px 10px 6px;
	box-shadow: #dddddd 1px 1px 10px 6px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #fff;
	float: left;
	padding: 60px;
	font-family: Tahoma, Geneva, sans-serif !important;
}
#customize-Simple .view-resume {
	float: left;
	width: 100%;
}
#customize-Simple .view-resume .name {
	/*margin-left: 204px;*/
	text-align: right;
	color: #329bce;
	font-size: 40px;
	font-weight: normal;
	line-height: 65px;
	margin-bottom: 20px;
}
#customize-Simple .view-resume .sections {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
#customize-Simple .view-resume .sections .headings {
	color: #329bce;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 0 5px 0;
	margin-bottom: 20px;
	border-bottom: #e5e5e5 1px solid;
}
#customize-Simple .view-resume .sections .content {
	float: left;
	width: 100%;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}
#customize-Simple .view-resume .sections .address {
	float: left;
	width: 100%;
	text-align: right;
	background: #e5e5e5;
	padding: 10px;
	color: #000;
	font-size: 14px;
}
#customize-Simple .view-resume .sections .expertise ul, #customize-Simple .view-resume .sections .education ul, #customize-Simple .view-resume .sections .skills ul {
	margin: 0 0 10px 0;
	padding: 0;
}
.cvdate {
	font-weight: bold;
}
.smallfontitalic {
	font-size: 12px;
	font-style: italic;
}
.dashlisting li {
	list-style-type: none;
}
#customize-Simple .view-resume .sections .skills ul li, #customize-Simple .view-resume .sections .education ul li {
	list-style-type: none;
	line-height: 26px;
}
#customize-Simple .view-resume .sections .education ul li span {
	font-weight: bold;
}
#customize-Simple .view-resume .sections .education ul li ul li {
	list-style-type: circle;
	line-height: 26px;
	margin-left: 20px;
}
#customize-Simple .view-resume .sections .skills ul li {
	list-style-type: disc;
	line-height: 26px;
	margin-left: 20px;
}
#customize-Simple .view-resume .sections .mobileno, #customize-Simple .view-resume .sections .emailid {
	padding-left: 10px;
}
#customize-Simple .view-resume .disable {
	border: 1px dashed #ccc;
	padding: 5px;
}
#customize-Simple .view-resume .disable .headings, #customize-Simple .view-resume .disable .content {
	color: #ccc;
}
.break {
	page-break-after: always;
}
/**/

/*tnemeing*/

/*tnemeing*/


.buttonPan {
	  float: left;
  width: 100%;
  margin-bottom: 30px;
}

#customize-expertise {
	display: none;
	float: left;
	width: 80%;
	font-size: 12px;
	margin: 0;
	-moz-box-shadow: #dddddd 1px 1px 10px 6px;
	-webkit-box-shadow: #dddddd 1px 1px 10px 6px;
	-o-box-shadow: #dddddd 1px 1px 10px 6px;
	box-shadow: #dddddd 1px 1px 10px 6px;
	background-color: #fff;
	
	border-top: 15px solid #F55B5B;
	border-bottom: 15px solid #F55B5B;
	font-family:lobster_tworegular !important;
}
#customize-expertise .view-resume {
	float: left;
	width: 100%;
}
#customize-expertise .view-resume .name img{
	background:#fff;
	border:3px solid #fff;	
	/*padding:3px;*/
	float:left;
	margin:35px 25px 15px 35px;
}
#customize-expertise .view-resume .name {
	/*margin-left: 204px;
text-align:right;*/
	color: #424242;
	font-size: 37px;
	font-weight: normal;
	line-height:58px;
	font-family:lobster_tworegular !important;
	background: #f1f1f1;
	float: left;
	width: 100%;
	margin: 0;
	border-bottom:1px solid #ccc;
}
#customize-expertise .view-resume .name span.fullname{
	color: #424242;
	font-size: 37px;
	font-weight: normal;
	line-height:58px;
	font-family:lobster_tworegular !important;}
#customize-expertise .view-resume .name .designation{
	font-style:italic;
	color:#90908e;
	font-size:16px;
	
}
#customize-expertise .view-resume .name span{
	margin-top:25px;
	display:inline-block;
}

#customize-expertise .view-resume .sections {
	float: left;
	width: 94.9%;
	clear:both;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cccccc;
	background:none;
	
}
#customize-expertise .view-resume .header{
	padding:0;	
	width: 100%;
	/*float:none;*/
}
#customize-expertise .view-resume .sections .headings {
	color: #555555;
	text-transform:capitalize;
	font-size: 20px;
	float: left;
	width: 32%;
	margin: 0;
	padding: 0 0px 5px 0;
	word-wrap: break-word;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 10px;font-family:tahoma !important;
	font-weight:normal;
	word-break:normal;
}
#customize-expertise .view-resume .sections .headings span {
	display: block;
}
#customize-expertise .view-resume .sections .content {
	float: left;
	width: 62%;
	font-family:tahoma !important;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	background: url(../images/resume-icons.png) no-repeat ;
	background-position:0 10px;
	padding-left: 40px;
}
#customize-expertise .view-resume .name .address {
	/*float: left;*/
	clear:both;
	color: #373b3c;
	font-size: 14px;
	font-style:italic;
	background: #f1f1f1 !important;
	font-family:tahoma !important;
	padding-bottom:10px;
	background-image: none !important;
	padding-left:37px;
	line-height:20px;
}
#customize-expertise .view-resume .sections .address span {
	display: inline;
}
#customize-expertise .view-resume .sections .expertise ul, #customize-expertise .view-resume .sections .education ul, #customize-expertise .view-resume .sections .skills ul {
	
	margin: 0 0 10px 0;
	padding: 0;
}
#customize-expertise .view-resume .sections .cvdate {
	color: #fff;
	background:#F55B5B;
	padding:3px;
		font-family:tahoma;
	font-style:italic;
}
.smallfontitalic {
	font-size: 12px;
	font-style: italic;
}
.dashlisting li {
	list-style-type: none;
}
#customize-expertise .view-resume .sections .skills ul li, #customize-expertise .view-resume .sections .education ul li, #customize-expertise .view-resume .sections .expertise ul li  {
	list-style-type: none;
	line-height: 26px;
		font-family:tahoma;
}
#customize-expertise .view-resume .sections .experience span {
	color: #F55B5B;
	display: block;
}
#customize-expertise .view-resume .sections .education ul li span {
	color: #F55B5B;
	display: block;
}
#customize-expertise .view-resume .sections .education ul li ul li {
	list-style-type: circle;
	line-height: 26px;
		font-family:tahoma;
	margin-left: 20px;
}
#customize-expertise .view-resume .sections .skills ul li {
	list-style-type: disc;
	line-height: 26px;
	margin-left: 20px;
		font-family:tahoma;
}
#customize-expertise .view-resume .sections .expertise {
	
}
#customize-expertise .view-resume .sections .disable {
	border: 1px dashed #ccc;
	padding: 5px;
	
}
#customize-expertise .view-resume .disable .headings{
	color: #ccc;
		font-family:tahoma !important;
}
 #customize-expertise .view-resume .disable .content {
	color: #ccc;
		font-family:tahoma;
}
.break {
	page-break-after: always;
}
/**/


/*tnemeing*/
#customize-executive {
	display: none;
	float: left;
	width: 76%
}
#customize-executive .bluebutton{
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #79C0DC 0%, #B0DFF2 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #79C0DC 0%, #B0DFF2 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #79C0DC 0%, #B0DFF2 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #79C0DC), color-stop(1, #B0DFF2));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #79C0DC 0%, #B0DFF2 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #79C0DC 0%, #B0DFF2 100%);
border:1px solid #a6d0e1;
color:#161616;

height: 30px;
padding: 0.05em 1.3em !important;
margin-right: 0.5em;
cursor: pointer;

overflow: visible;
font-size: 14px;
text-align: center;
border: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
box-shadow:none;

}

#customize-expertise, #customize-executive {
	display: none;
}
#customize-executive {
	font-size: 12px;
	width: 70%;
	margin: 0 auto;
	-moz-box-shadow: #dddddd 1px 1px 10px 6px;
	-webkit-box-shadow: #dddddd 1px 1px 10px 6px;
	-o-box-shadow: #dddddd 1px 1px 10px 6px;
	box-shadow: #dddddd 1px 1px 10px 6px;
	background-color: #fff;
	float: left;
	padding: 60px;
	font-family: Tahoma, Geneva, sans-serif;
}
#customize-executive .view-resume {
	float: left;
	width: 100%;
	clear:both;
}
#customize-executive .view-resume .sections {
	float: left;
	width: 100%;
	clear:both;
	margin-bottom: 20px;
	font-family:Tahoma;
}
#customize-executive .view-resume .sections .content {
	/*float: left;
	width: 100%;*/
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	clear:both;
	font-family:Tahoma;
}
#customize-executive .view-resume .name {
	/*margin-left: 204px;*/
	text-align: right;
	color: #555555;
	font-weight: normal;
	width: 100%;
	float: left;
	clear:both;
	font-family: Tahoma;
	height: 90px;
	word-break:normal;
	margin-bottom:15px;
}
#customize-executive .view-resume .name .first-name{
	float:left;
	width:32%;
	padding-top:0px;
	font-size: 36px;
	line-height:32px;
	word-break:normal;
}

#customize-executive .view-resume .name .address {
	float: left;
	width: 55%;
	padding: 10px;
	border-left: 1px solid #555;
	/*margin-top: -89px;*/
	margin-left: 15px;
	color: #000;
	font-size: 12px;
	background: none;
	line-height: 23px;
	text-align:left;
	word-break:normal;
}
#customize-executive .view-resume .sections .headings {
	text-align: left;
	color: #fff;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 18px;
	float: left;
	width: 98.5%;
	background: #54a5c5;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family:Tahoma;
}
#customize-executive .view-resume .sections .headings span {
	display: block;
}
#customize-executive .view-resume .name .address .mobileno,#customize-executive .view-resume .name .address .emailid{
	display: block;
}

#customize-executive .view-resume .sections .contdetails .cvdate {
	font-weight: bold;
	color: #54a5c5;
	font-size:16px;
	padding:0;
	text-align:right;
	float:right;
}


#customize-executive .view-resume .sections .contdetails{
	float:left;
	width:100%;	
}
#customize-executive .view-resume .sections .contdetails .title{
	width:100%;
	float:left;	
	font-weight:bold;
	word-break:normal;
	clear:both;
	border-bottom:1px dashed #ccc;
	padding:5px 0;
}
#customize-executive .view-resume .sections .contdetails .label{
	width:100%;
}
#customize-executive .view-resume .sections .contdetails  ul{
	margin:0 0 0 15px !important;
	padding:0 !important;
	clear:both;
}
#customize-executive .view-resume .sections .contdetails  ul li{
	list-style-type:circle;
	margin:0;
	padding:5px !important;
	color:#777;	
	font-size:13px;
	line-height:14px;
}
.smallfontitalic {
	font-size: 12px;
	font-style: italic;
}


#customize-executive .view-resume .sections .contdetails .smallfontitalic .dashlisting li{
	list-style-type: none;
	padding-left: 186px;
	clear: both;
	background: #fff;
	line-height:23px;
}
#customize-executive .view-resume .sections .contdetails .skills ul li {
	list-style-type: disc;
	line-height: 26px;
	margin-left: 20px;
	float: left;
	width: 30%;
	background: none;
}


#customize-executive .view-resume .sections .expertise ul li {
	float: left;
	width: 47%;
	list-style-type: none;
	padding-right: 15px;
	line-height:20px;
}

#customize-executive .view-resume .disable {
	border: 1px dashed #ccc;
	padding: 5px;
	width: 99%;
}
#customize-executive .view-resume .disable .headings, #customize-executive .view-resume .disable .content {
	color: #ccc;
}
#customize-executive .view-resume .disable .headings {
	background: #ccc;
	color: #fff;
}
.margintop15{
	margin-top:15px;		
}

/**/

input[type="button"].orangebuttons {
	height:30px;
	padding: 0.25em 1.3em !important;
	margin-right:0.5em;
	cursor:pointer;
	color:#000;
	overflow:visible;
	font-size:14px;
	text-align:center;
	text-align:center;
	background:#8aecfd;
	border:none;
	/*border:1px solid #f37124 !important;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 0px 0px #535353;
	box-shadow: 0px 1px 0px 0px #535353;*/
	-ms-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-bottom:1px solid #242424;
}
