
ul.tree{
	width:100%;
	margin: 0 auto;
}
#innersection{overflow-x:auto; overflow-y:hidden;}
#wrapper {
	width:83%;
	margin:0 auto;
}
ul.tree {
	width:100%;
}
.clearer {
	clear: both;
}
p {
	margin-top: 2em;
}


ul.tree {
	/*overflow-x: auto;
	white-space: nowrap;*/
}
ul.tree, ul.tree ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
ul.tree li {
	display: block;
	width: auto;
	float: left;
	vertical-align: top;
	padding: 0;
	margin: 0;
}
ul.tree ul li {
	background-image: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=);
	background-repeat: repeat-x;
	background-position: left top;
}
ul.tree li span {
	display: block;
	min-width: 120px;
	padding:10px;
	position: relative;
	/*
    uncomment to fix levels
    height: 1.5em;
  */
  margin: 0 auto;
	text-align: center;
	white-space: normal;
	letter-spacing: normal;
	width: auto;
}
ul.tree ul li:last-child {
	background-repeat: no-repeat;
	background-size:50% 1px;
	background-position: left top;
}
ul.tree ul li:first-child {
	background-repeat: no-repeat;
	background-size: 50% 1px;
	background-position: right top;
}
ul.tree ul li:first-child:last-child {
	background: none;
}
ul.tree ul li span {
	background: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=) no-repeat 50% top;
	background-size: 1px 3.8em;
	padding-top:30px;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

ul.tree ul {
	background: url(data:image/gif;base64,R0lGODdhAQABAIABAAAAAP///ywAAAAAAQABAAACAkQBADs=) no-repeat 50% top;
	background-size: 1px 2.8em;

	padding-top:30px;
}

.parentbg,.childbg{background: #E4DBFC;padding:15px 10px 15px 10px;color: #000;border-bottom: 2px solid #575759;/* box-shadow: 1px 2px 3px #C2C2C2; *//* border-radius:8px; */font-size: 14px;}
.parentbg{background: none repeat scroll 0 0 #FFE0AD;border-color: #6B6B6B;text-transform:uppercase;}
a:hover{text-decoration:none;}

.callout{position:absolute; width:500px; color:#000;background:#f1f1f1; visibility:hidden;margin-top: 34px;left:0;z-index: 1000; height:300px; overflow-y:auto;-moz-border-radius:4px;-webkit-border-radius:4px;border:3px solid #000;}
ul.tree li  span div:hover .callout               {visibility:visible; top:60px;
                                        /* css3 */
                                        opacity:1;
                                        -webkit-box-shadow: inset -16px 10px 49px -25px rgba(0,0,0,0.63);
-moz-box-shadow: inset -16px 10px 49px -25px rgba(0,0,0,0.63);
box-shadow: inset -16px 10px 49px -25px rgba(0,0,0,0.63);}
.webui-popover-content{word-break:break-all;}
.optionsWrapper{height:400px; overflow-y:auto;}